<html>

<head>
  <title>Server</title>

<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>



</head>
<body>
<% include partials/general.ejs %>
<h1>Congratulationn</h1>

<p>You want to connect <%=data.who%> who is in <%=data.department%> department we will forwrd him <%=data.email%> soo he will connect you </p>










</body>










</html>
