<html>

<head>
  <title>Server</title>

  <link href="./assets/styles.css" rel="stylesheet" type="text/css"/>



</head>
<body>
<% include partials/general.ejs %>
<h1>This is the index page</h1>
<p> please like this website</p>











</body>










</html>
